body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
select,
textarea {
    max-width: 280px;
}

.card {
    box-shadow: 5px 2px 7px 2px grey;
    padding: 0.8em;
    margin: 5px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.input-sm {
    padding-right: 0;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#chartContainer {
    padding-bottom: 50px;
}

.modal{
    position:fixed;
    /*left: 30%;*/
    top: 20px;
    bottom: auto;
    /*background-color: white;*/
    overflow-y: scroll;
    /*width: fit-content;*/
    /*height: 700px;*/ /* I dont' like the absolute value here*/
}

#OUT_combattant{
    overflow-y: scroll;
    max-height: 500px;
}

.modal-dialogue {
    height: auto;
}

