{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<!--<h3>{{ message }}</h3>-->

<div class="row">
    <div class="col-lg-10 offset-lg-1 col-sm-12">
        <p>
            <span style="color: #903; font-size: 64px; line-height: 48px; padding-top: 0px; padding-right: 6px; padding-left: 3px; font-family: Georgia;">T</span>
            HIS online tool calculates the victory probabilities in a D&amp;D encounter 
            which simulates an encounter 1,000 times for statistical accuracy. The combatants can be selected from
            a list with their original stat blocks as found in the Monster Manual, or the user can choose to modify the stat block.
            
            <br />The simulator is based on the 5e rules in how it handles crits, conditions, damage types, advantages and disadvantages.
        </p>
    </div><!--abs-->
</div><!--abs row-->

<!--<h2>Motive</h2>
<p>
    D&D is an amazing game, but encounters can get tedious when they are not a challenge. Conversely, too
    much of a challenge leads to a dissapointing series of GM fiats or, worse, a total party kill, a
    scenario to avoid as it is disappointing for all or worse. Therefore a correct balance is needed. As
    a result the GM guide has a table that can be used to calculate how hard an encounter is, which is
    not overly accurate. I have been in too many encounters that on paper should have been deadly, while
    on the table have been a walk in the park. The reason for this is that a single value cannot
    represent the strength of a party.
</p>
<p>
    This app was originally made to analyze the relative strength of groups of monsters in battle as well as to trial new weapons, however; there were many shortcomings of the original application. A lack of the use of special abilities is one example.
    The application simulates an encounter 1,000
    times in order to gain the probability of victory or defeat. Damage and hp are not the sole factor
    in determining how an encounter may swing, therefore it may be impossible to predict with calculus,
    hence the simulation.
    Iv'e worked to improve the application in the way it works and to improve user experience. However, this updated version is also not without it's shortcomings as well, but I'm working to solve the ones that I'm aware of (noted later).<br />
    </p>-->

<h2>But, How does it Work?</h2>

<h3><i class="fas fa-chess-board"></i> Technical notes</h3>
<!--<p>
    There are may factors in play in the simulation, one of which is strategy, which is encoded here with a set of
    assumptions.
</p>
<ul>
    <li>
        One targets an alive enemy with lowest hp. Alternative modes are random or
        that with highest average damage.
    </li>
    <li>One heals only when there is no chance of wastage and one heals the most wounded ally</li>
    <li>
        One uses an ability only when one's team outnumbers the other or if they are at or less than 1/2 their starting hp.
    </li>
    <li>
        ~ types of abilities and the heirarchy of them/the order in which they are used.
    </li>
</ul>
<h3><i class="fas fa-chess-board"></i> Gridlessness</h3>
<p>
    This application does not take into account space. That means it assumes tactics on a grid don't matter:
    this is clearly wrong, but it is a lesser evil than encoding a 
        lot of behavioral rules.<br />
    Breath weapons and AoEs will affect a number of targets equal to at least half of what's capable when possible to try to mitigate gridlessness.
    Since there is no spece between combatants, ranged weapons are not used and combatants that have abilities that do best at range are not as effective.
</p>

<p>
    Creatures also do not have any specical abilities, and there are no ranged weapons.
</p>-->
<h2>Limitations</h2>
<ul>
    <li>
        There's no concept of space, so there's no range or movement. AOEs assume at least 50% of possible targets are targeted.
    </li>
    <li>
        No magical spells (it's on the todo list)
    </li>
    <li>
        Not all abilities are added (work in progress)
    </li>
    <li>
        Social abilities will not be added (no value to combat)
    </li>
    <li>
        Custom Attack tool is not very intuitive (on the todo list)
    </li>
    <li>
        Power graph can be very misleading (on the todo list)
    </li>
    <li>
        There's no legendary actions
    </li>
    <li>
        PC's can't be used
    </li>
    <li>
        There's no magical items
    </li>  
    <li>
        No status conditions (on the todo list)
    </li>
</ul>

<h2>
    Section help
</h2>
<div>
    <h3>Simulation Settings</h3> <br />
    Some optional rules have been added under "Simulation Options".<br />
    <ul>
        <li id="morale">
            Morale is determined based on the creature's CR.
            Certain events happen during battle that effect the creature's morale, such as falling under 1/2 of their total HP (becoming 'bloodied') and getting healed by an ally.
        </li>
        <li id="attack_damage_type">
            Attack Damage Type enables resistances, immunities, and vulnerabilities to all damage types including magical types. <br />
            If you would like to use any of these optional settings, check the box next to the setting that you would like to use in your simulation.
        </li>
    </ul>
    <h3>Custom Attack Tool</h3>
    <p>

    </p>

    <h3>Lineup</h3>
    <p></p>

    <h3>Option B</h3>
    <p></p>
</div>

<!--<p>See <a href="#links">GitHub</a> for more. </p>-->


{% endblock %}
