{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div>
    <p>This app is an unofficial app that is permitted under the WotC Fan Content Policy.<br />
    It is neither approved nor endorsed by Wizards.
    This app claims no ownership to the monsters from official materials.
    The official fan content policy can be found below.
    </p>
    https://company.wizards.com/en/legal/fancontentpolicy
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
