{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row my-3">
            <div class="col-lg-3 offset-lg-2 hidden-xm hidden-sm">
                <img src="{{url_for('static', filename = 'content/Owlbear.png') }}" width="100%" alt="owlbear icon" />
            </div><!--icon-->
            <div class="col-lg-6 col-sm-12 align-middle">
                <h1 style="display:inline">D&D 5e Encounter Simulator</h1>
            </div><!--title-->
            <div class="col-lg-2 col-sm-12">
                <!-- <iframe src="https://ghbtns.com/github-btn.html?user=matteoferla&repo=DnD-battler&type=star&count=true&size=small"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe> -->
                <a href="https://github.com/TrinityrjBass/DnD-Royale/tree/master/newFlask" target="_blank" class="btn btn-outline-primary w-100 pb-1">
                    <i class="fab fa-github"></i> GitHub
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-star"></i>
                        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">18</span>
                    </span>
                </a>
                <!--<a class="btn btn-outline-primary w-100 pb-1" href="https://www.matteoferla.com/email.html"
                   data-tooltip="Email the author. Suggestions welcome!"><i class="far fa-envelope"></i>Suggestions</a>-->
            </div><!--icon-->
        </div><!--title row-->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-sm-12 text-justify">
                <p style="text-align:justify; text-align-last:center;">
                    <span style="float: left; color: #903; font-size: 64px; line-height: 48px; padding-top: 0px; padding-right: 6px; padding-left: 3px; font-family: Georgia;">T</span>
                    HIS online tool calculates the victory probabilities in a D&amp;D encounter. It relies on a python script,
                    which simulates an encounter 1,000 times for statistical accuracy. The combatants can be selected from 
                    a preset list with their original stat blocks as found in the Monster Manual, or the user can choose to modify any or all of the original stats.
                    The presets are based on a monster manual table ("beastiary.csv").
                        <span style="text-decoration:none">&nbsp;<i class="far fa-download"></i></span>
                    </a> Due to the complexity of the tactical decisions involved, which human players
                    often fail at, the encounters are performed with the assumption that everyone borders everyone. 
                    <br />The simulator based on the 5e rules in the way it handles crits, conditions, advantages and disadvantages.
                </p>
                <p style="text-align:justify; text-align-last:center;">
                    Instructions on how to start a simple encounter : <br />
                    Select a creature from the dropdown options in the "Option A" section.<br />
                    Determine how many of these creatures you would like to fight as well as what team they are on (don't worry, you can change anything at any time before the simulation starts). <br />
                    Click the "Add" button when you are ready to add the creatures.<br />
                    Review, remove, and/or change teams of any combatants you have added in the "Lineup" section.<br />
                    When you are ready, click the "Calculate" button.<br />
                    CAUTION : the more creatures you add to the simulation, the longer each battle will be and you may get a limited data set as the app times out after 10 seconds regardless of the number of battles fought.

                </p>
            </div><!--abs-->
        </div><!--abs row-->
    </div>
</div>

<div class="container card-columns">
    <!--Import from index.html from dndencountersimulator side-->
    <div class="col-sm-6">
        <!--option a and b-->
        <div class="card">
            <!--option A-->
            <h3>Option A: add default combattant from list</h3>
            Pick a default creature from the dropdown list<br />
            <div class="card-body">
                <input type="number" id="numberOfA" value="1" min="1" style="width:4em" />
                <select id=drop onchange="updateCustomBase()">
                    <option value="cthulhu">Select creature</option><!--LABEL-->
                    {{list | safe }}
                </select>
                <br />
                <label>Red</label>
                <input type="radio" name="team" value="Red" class="combatant_team">

                <label>Blue</label>
                <input type="radio" name="team" value="Blue" class="combatant_team" checked><br />

                <button onclick="AddA()"><i class="fa fa-shopping-cart"></i> Add</button>
                <span id=confA><i class="fa fa-check"></i></span>
            </div>
        </div><!--end option A-->
        <div class="card">
            <!--Option B-->
            <h3>Option B: build combattant</h3>
            <div class="card-body">
                Build custom combatant from stats. If "base creature" field is used, no custom stats will be used, any entered will be wiped and replaced for the base creature's stats.<br />

                <table class=clear id=table>

                    <tr>
                        <td class=clear>Name:</td>
                        <td class=clear>
                            <input class="input-sm" type=text id="name">
                            <span class="fa fa-question"
                                  data-toggle="tooltip" title="The name of the creature. This is used for the summary and identical names can be used."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Base creature:</td>
                        <td class=clear>
                            <input class="input-sm" type=text id=base placeholder="commoner" disabled>
                            <span class="fa fa-question"
                                  data-toggle="tooltip" title="The base creature that you would like to modify attributes of. You can type this in, or select the creature from the drop down in Option A and it will auto-fill here."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Team:</td>
                        <td>
                            <label>Red</label>
                            <input type="radio" name="team" value="Red" class="combatant_team">


                            <label>Blue</label>
                            <input type="radio" name="team" value="Blue" class="combatant_team">

                            <span class="fa fa-question" data-toggle="tooltip" title="The team the creature is on."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>HP:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=hp value="0" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="hit points"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>AC:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=ac value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="armour class"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Initiative bonus:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=initiative_bonus value="1" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="initiative bonus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Attack parameters:</td>
                        <td class=clear>
                            <input class="input-sm" type=text id=attack_parameters>
                            <span class="fa fa-question"
                                  data-toggle="tooltip" title="This is a tad complicated, sorry. Technically it is a list of list. It is a series of values between square brackets between square brakets, <i>e.g.</i> [[*club*, 2, 0, 4], [*club*, 2, 0, 4]]. Each square bracket block (list) denoted a part of an attack, namely a single attack will have only one, <i>e.g.</i> [[*sword of a thousand truths*, 7, 5, 16]], while a multiattack of two will have two as in the first example. The first element is a name, which is useless here as narration is disabled. The second is the attack bonus, the third is the damage bonus and the following are the dice. So [[*Batleth*,2,0,8,8]] is a +2, 2d8 and a [[*flaming greatsword*,3,1,6,6,4]] is a +3 2d6+d4+1.<br/> There is an encoding issue that I can only resolve by changing the quote of the string to asterisk."
                                  data-tooltip-position="bottom middle"></span>
                        </td>
                    </tr>

                    <tr>
                        <td class=clear>Number of healing spells:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=healing_spells value="0" min="0">
                            <span class="fa fa-question"
                                  data-toggle="tooltip" title="Number of healing word spells (cantrip, only)"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Healing dice:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=healing_dice value="0" min="0"> <!--drop down options?-->
                            <span class="fa fa-question"
                                  data-toggle="tooltip" title="number without the d. d4 is the default."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Healing bonus:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=healing_bonus value="0" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="the bonus to your heal"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Str:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=str value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="Strength ability, not bonus."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Dex:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=dex value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="Dex ability, not bonus."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Con:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=con value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="Constitution ability, not bonus."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Int:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=int value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="Intelligence ability, not bonus."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Wis:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=wis value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="Wisdom ability, not bonus."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>Cha:</td>
                        <td class=clear>
                            <input class="input-sm" type="number" id=cha value="10" min="0">
                            <span class="fa fa-question" data-toggle="tooltip" title="Charisma ability, not bonus."></span>
                        </td>
                    </tr>
                    <tr>
                        <td class=clear>CR:</td>
                        <td class="clear">
                            <input class="input-sm" list="CombatRating" id="CR" name="browser" min="0" max="30" required>
                            <datalist id="CombatRating">
                                <option value=.125>
                                <option value=.25>
                                <option value=.5>
                                <option value=1>
                                <option value=2>
                                <option value=3>
                                <option value=4>
                                <option value=5>
                                <option value=6>
                                <option value=7>
                                <option value=8>
                                <option value=9>
                                <option value=10>
                                <option value="11">
                                <option value="12">
                                <option value="13">
                                <option value="14">
                                <option value="15">
                                <option value="16">
                                <option value="17">
                                <option value="18">
                                <option value="19">
                                <option value="20">
                            </datalist>
                            <!--<input type="number" id="cr" value="10" min=".1"  required />-->
                            <span class="fa fa-question" data-toggle="tooltip" title="CR is used here to determine the difficulty rating of the combattant. This value will also be used to determine the morale of the combattant. If you'd like to use the CR of a base creature, set this field to 0"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" id="numberOfC" value="1" min="1" style="width:4em" />
                            <button onclick="AddB()"><i class="fa fa-shopping-cart"></i> Add</button>
                            <button onclick="clearB()"> <i class="fa fa-trash-o"></i>Reset</button>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- change function and params before uncommenting<button onclick='initial();console.log("cleared");$("#lineup").html("")'>
                <i class="fa fa-trash-o"></i>
                Clear Fields
            </button>-->
            <span id=confC><i class="fa fa-check"></i></span>
            <br />
        </div><!--End option b-->

    </div>
    <div class="col-sm-6">
        <!--tool and linup-->
        <div class="card">
            <!--attack tool-->
            <h3>
                Battle Parameter Tool <i class="fa fa-chevron-up" id="OFF_tool" onclick="flip('tool',0)"></i><i class="fa fa-chevron-down" id="ON_tool" onclick="flip('tool',1)"></i>
            </h3>
            <div id="DIV_tool">
                <p>
                    This is a tool to help create properly formatted battle parameters for custom combatants. Simply enter the values for an attack and copy and paste it into the battle parameters box for the custom combatant.
                </p>
                <p>
                    <table id="attack_tool">
                        <tr>
                            <td class=clear>Better Attack Parameters:</td>
                        </tr>
                        <tr>
                            <td><label>Weapon</label></td>
                            <td>
                                <input class="input-sm" list="weapons" id="weapon" name="browser" onclick="clearWeapons()" onchange="figureAtkParams()">
                                <datalist id="weapons">
                                    <option value="club">
                                    <option value="great club">
                                    <option value="dagger">
                                    <option value="short sword">
                                    <option value="long sword">
                                    <option value="bastard sword">
                                    <option value="great sword">
                                    <option value="rapier">
                                    <option value="scimitar">
                                    <option value="sickle">
                                    <option value="hand axe">
                                    <option value="war axe">
                                    <option value="great axe">
                                    <option value="javelin">
                                    <option value="spear">
                                    <option value="flail">
                                    <option value="glaive">
                                    <option value="halberd">
                                    <option value="lance">
                                    <option value="pike">
                                    <option value="trident">
                                    <option value="war pick">
                                    <option value="light hammer">
                                    <option value="mace">
                                    <option value="war hammer">
                                    <option value="quarterstaff">
                                    <option value="morningstar">
                                    <option value="whip">
                                    <option value="claws">
                                    <option value="bite">
                                </datalist>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>To Hit Modifier</label>
                            </td>
                            <td>
                                <input class="input-sm" type="number" placeholder="To Hit" id=attack_hit onchange="figureAtkParams()">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Attack Die</label>
                            </td>
                            <td>
                                <input class="input-sm" type=text placeholder="Dmg Dice" id=attack_dicedmg onchange="figureAtkParams()" disabled>
                                <i class="fa fa-question"
                                   data-toggle="tooltip" title="Damage Die of selected weapon. will only be automatically figured if left empty. Will use any valid input user has entered"
                                   data-tooltip-position="bottom middle"></i>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Modifier</label></td>
                            <td>
                                <input class="input-sm" type=number placeholder="Dmg Modifier" id=attack_dmgmod onchange="figureAtkParams()">
                                <span class="fa fa-question"
                                      data-toggle="tooltip" title="An attempt to simplify attack parameters with the intention of adding logic to add automatically figure out most of the other values"
                                      data-tooltip-position="bottom middle"></span><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>New Attack: </label>
                            </td>
                            <td>
                                <a id="aParams"></a>
                                <!-- add ability to append attacks into this list. this
                                This would have to include a "clear" function like lineup
                                I would also like to add a "move" button that would wrap it up all nicely in sq brackets and automatically
                                move the attacks into the correct field
                                also need a way to indicate or figure automatically dx based weapons.-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button onclick="queueAttack()"><i class="fa fa-shopping-cart"></i> Add</button>
                            </td>
                        </tr>
                    </table>
                    <h3>New Attacks</h3>
                <p id="newAttacks" style="padding:10px; min-height:2em; border:1px lightgrey; background:gainsboro; overflow-wrap: break-word;">
                    [<a id="attacks"></a>]
                    <br /><br />
                </p>
                <p>
                    <button onclick="clearAttacks()"> <i class="fa fa-trash-o"></i>Clear</button>
                    <button onclick="saveAttack()"><i class="fa fa-bolt"></i> Add to combatant</button>
                </p>
            </div>
        </div><!--attack tool-->
        <div class="card">
            <h3>
                Lineup<i class="fa fa-chevron-up" id="OFF_roster" onclick="flip('roster',0)"></i><i class="fa fa-chevron-down" id="ON_roster" onclick="flip('roster',1)"></i>
            </h3>
            <div id="DIV_roster"style="padding:5px">
                <!--<div class="card-body" id="lineup" style="padding:10px; min-height:2em; border:1px lightgrey; background:gainsboro; overflow-wrap: break-word;">
            <br /><br />
        </div>-->
                <div class="card-body" id="roster" style="padding:10px; min-height:2em; border:1px lightgrey; background:gainsboro; overflow-wrap: break-word;">
                    <table style="width: 100%"><thead><tr><th>Name</th><th>Red</th><th>Blue</th></tr></thead><tbody></tbody></table>
                </div>
            </div>
            <br />
            <button onclick="duel()"><i class="fa fa-bolt"></i> Calculate</button>
            <button onclick='rosterTable("hard")'>
                <i class="fa fa-trash-o"></i>
                Clear
            </button>
            <!--<button id="showInfo" onclick="showModal()"><i class="fa fa-bolt"></i>Show Data</button>-->
            <button id="showInfo" data-toggle="modal" data-target="#myModal"><i class="fa fa-bolt"></i> Show Data</button>
            <br />
        </div><!-- line up-->
        <div class="card"><p id=status></p></div>
    </div>
    <!-- Attempting to use Bootstrap modal : https://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3 class="modal-title">Results<i class="fa fa-chevron-up" id="OFF_result" onclick="flip('result',0)"></i><i class="fa fa-chevron-down" id="ON_result" onclick="flip('result',1)"></i></h3>

                </div>
                <div id="result" class="modal-body">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        
        
    </div><!--end modal--> 
</div>


    {% endblock %}
